<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prosta Strona HTML</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="banner">
    <!-- Pierwszy div (menu) -->
    <h2 class="logo"><img src="images/logo.png" alt="logo"/></h2>
    <!-- Lewa czesc -->
    <div class="banner-right" id="dropdownContentMenu">
        <div id="katalog">Katalog</div>
        <div class = "kontakt">Kontakt</div>
        <div class = "konto" id="loginButton">
            <i class="fa-solid fa-user"></i>
        </div>
    </div>
</div>

<!-- Pierwszy dodatkowy div -->
<div class="additional-div1">
    <div id="slideshow" class="slider-container">
        <button class="prev">&#10094;</button>
        <div class="slides">
            <img src="images/slide1.jpg" class="Rectangle4 slide1" />
            <div class="Rectangle5">Filia Czyżyny w końcu otwarta!</div>
        </div>
        <div class="slides">
            <img src="images/slide2.jpg" class="Rectangle4 slide2" />
            <div class="Rectangle5">"Statystyczny Polak" jednak czyta</div>
        </div>
        <div class="slides">
            <img  src="images/slide3.jpg" class="Rectangle4 slide3" />
            <div class="Rectangle5">Nowości w katalogu</div>
        </div>
        <div class="slides">
            <img src="images/slide4.jpg" class="Rectangle4 slide4" />
            <div class="Rectangle5">Bronowicki Klub Książki</div>
        </div>
        <div class="Rectangle3 slides">
            <img src="images/slide5.jpg" class="Rectangle4 slide5" />
            <div class="Rectangle5">Kampania "Zima z książką"</div>
        </div>
        <button class="next">&#10095;</button>
    </div>
</div>

<script src="js/main.js"></script>
<script src="https://kit.fontawesome.com/4349d29944.js" crossorigin="anonymous"></script>
</body>
</html>

